# Never commit raw or derived data
data/**
*.zip
!data/.gitkeep

# Virtual env
.venv/

# loan sample data
sample_data/

# Warehouse dependencies
warehouse/*.duckdb

*.parquet
*.csv

.env
.env.*

.DS_Store