# macOS
.DS_Store

# VS Code
.vscode/

# Data Artifacts
data/**
!data/.gitkeep
data/raw/
data/staging/
data/curated/
*.parquet
*.duckdb

*.parquet
*.csv
*.zip

# loan sample data
sample_data/

# Warehouse artifacts
warehouse/*.duckdb


#Python
__pycache__/
*.pyc

# Local Environments
.venv/
.env
.env.*


# loan sample data
sample_data/
/analytics_reports
.github/

/FNMA_DATA
